# Netlify / Node
.netlify/
node_modules/
# Local env files
.env
.env.*
.firebase/

# Build artifacts
.pio/
.pioenvs/
.vscode/
*.elf
*.bin
*.map
.DS_Store

# Secrets
include/wifi_secrets.h
android/**/google-services.json
android/SoilAlertApp/.gradle/
android/SoilAlertApp/.idea/
android/SoilAlertApp/local.properties
android/SoilAlertApp/**/build/
android/SoilAlertApp/gradle/
android/SoilAlertApp/gradlew
android/SoilAlertApp/gradlew.bat
netlify_api_list.txt
