# Netlify / Node
.netlify/
node_modules/
# Local env files
.env
.env.*
.firebase/

# Build artifacts
.pio/
.pioenvs/
.vscode/
*.elf
*.bin
*.map
.DS_Store

# Secrets
include/wifi_secrets.h
android/**/google-services.json
