[build]
  command = "npm install"
  publish = "."
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

[[edge_functions]]
  function = "alert"
  path = "/.netlify/functions/alert"

